// -- Utilities

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%btn-shared {
    @extend %flex-column;
    height: 50px;
    width: 130px;
    border: 2px solid $border-color;
    background: $app-background;
    color: $text-color;
    margin: .5rem 0;
    transition: border .3s ease;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    

    &:hover {
        border-color:  #db06d6;
    }
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.btn {
    @extend %btn-shared;
}