@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import 'variables';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    background: url('../images/4305653.jpg') no-repeat center/cover;
    font-family: 'Righteous', sans-serif;
}

.title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
}

#app {
    @extend %flex-column;
    z-index: 1000;
    height: 100vh;

    .container {
        width: $app-width;
        
        .hangman {
            height: 700px;
            background: $app-background;
            color: $text-color;
            padding: 1rem;

            .start-screen {
                @extend %flex-column;
                justify-content: start;
    
                .btn {
                    @extend %btn-shared;
                    
                }
            }

            .instructions {
                h1 {
                    text-align: center;
                    font-size: 3rem;
                }

                ul {
                    margin-top: 1rem;

                    li {
                        color: $border-color;
                        display: flex;
                        align-items: center;
    
                        i {
                            color: $text-color;
                            font-size: 1rem;
                            margin-right: .5rem;
                            margin-left: 1rem;
                            align-self: flex-start;
                        }
                    }
                    
                    li:before { 
                        content: "";
                        border-color: transparent #111;
                        border-style: solid;
                        border-width: 0.35em 0 0.35em 0.45em;
                        display: block;
                        height: 0;
                        width: 0;
                        left: -1em;
                        top: 0.9em;
                        position: relative;
                    }
                }

                .btn {
                    @extend %btn-shared;
                    @extend %flex-column;
                    margin: 0 auto;
                }
            
            }

            .game {
                @extend %flex-column;

                .guessing-word {
                    font-size: 2rem;
                    margin: 3rem 0 1.5rem 0;
                    color: $highlight-color;
                }

                .hangman-board {
                    border: 2px solid $border-color;
                }

                .hangman-letters {
                    display: flex;
                    justify-content: center;
                    max-width: $app-width;
                    flex-wrap: wrap;

                    li {
                        list-style: none;
                        padding: .5rem 1rem;
                        margin: 0.3rem;
                        background: $border-color;
                        color: $app-background;
                        cursor: pointer;
                        transition: background .2s;

                        &:hover {
                            background: $highlight-color;
                        }
                    }

                    .selected {
                        background: gray;
                        &:hover {
                            background: gray;
                        }
                        cursor: default;
                    }

                }

            }

            .end {
                @extend %flex-column;

                h2 {
                    color: $border-color;
                }

                .btn {
                    margin-top: 1.5rem;
                }
            }
        }

        .overlay {
            position: absolute; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.2); /* Black background with opacity */
            z-index: -1;
        }
    }
}